{{ if ne .chezmoi.os "windows" -}}
#!/bin/bash
{{ end -}}
{{ if eq .chezmoi.os "darwin" -}}
export PATH=$HOME/.local/share/mise/shims:$HOME/.local/bin:/opt/homebrew/bin:$PATH
brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}

{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}

{{ range .packages.darwin.taps -}}
tap {{ . | quote }}
{{ end -}}

EOF
brew autoupdate start || echo ""
defaults write com.abhishek.Clocker startAtLogin 1
{{ else if eq .chezmoi.os "linux" -}}
export PATH=$HOME/.local/share/mise/shims:$HOME/.local/bin:$PATH
{{ if eq .chezmoi.osRelease.id "debian" -}}
sudo apt update -qq
sudo apt install -y -qq {{ range .packages.linux.debian -}}{{ . | quote -}}{{ " "}}{{ end }}
{{ end -}}
curl -sS https://starship.rs/install.sh | sh
{{ end -}}
