{{ if eq .chezmoi.os "darwin" "linux" -}}
#!/bin/sh
export PATH=$HOME/.local/bin:$PATH
if type mise 2>&1 >/dev/null;then
mise install gh
mise x gh -- gh auth login
export GITHUB_TOKEN=$(mise x gh -- gh auth token)
mise install
fi
{{ end -}}
