{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
{{ if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
curl -sL https://raw.githubusercontent.com/wslutilities/wslu/master/extras/scripts/wslu-install | bash
{{ end -}}
{{ end -}}
