{{ if eq .chezmoi.os "darwin" "linux" -}}
#!/bin/sh
# vim: ft=sh
set -e
if [ -x /opt/homebrew/bin/brew ]; then
  export PATH=$HOME/.local/share/mise/shims:$HOME/.local/bin:/opt/homebrew/bin:$PATH
elif [ -x /usr/local/bin/brew ]; then
  export PATH=$HOME/.local/share/mise/shims:$HOME/.local/bin:/usr/local/bin:$PATH
else
  export PATH=$HOME/.local/share/mise/shims:$HOME/.local/bin:$PATH
fi
hash -r
mkdir -p ~/.local/share/zsh/completions
if type mise >/dev/null 2>&1;then
  mise completion zsh  > ~/.local/share/zsh/completions/_mise
  if [ -z "$GH_SKIP" ];then
    mise install --silent gh
    mise x gh -- gh auth status -h github.com || mise x gh -- gh auth login
    export GITHUB_TOKEN=$(mise x gh -- gh auth token)
  fi
  mise install --silent uv aqua ubi
  mise install --silent
fi
{{ end -}}
